html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: 'Roboto';
    background-color: #212121;
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#bar {
    width: 100%;
    background-color:rgba(16.5,16.5,16.5,1.0);
    padding: .5% 2%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:#FAFAFA;
}

#bar-title {
	font-size: 42px;
}

#bar-nav {
	font-size:42px;
}

.nav-button{
    cursor:pointer;
    display:inline-block;
}

#container {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.preview {
    width: 30%;
    height: 250px;
    background-color: rgba(16.5,16.5,16.5,1.0);
    color:#fafafa;
    padding: 2%;
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-box-shadow:    inset 0 0 15px #000000;
     -webkit-box-shadow: inset 0 0 15px #000000;
     box-shadow:         inset 0 0 15px #000000;

}

.preview-container {
    width: 100%;

}

.preview-title {
	font-size:20px;
	text-transform: capitalize;
}

.preview-date {
	font-size:16px;
}
